<div class="license-certificate-page">
  <div class="page-actions">
    <button class="btn btn-outline-secondary" (click)="goBack()">
      Back to Application
    </button>
    <button class="btn btn-secondary" (click)="printCertificate()">Print</button>
    <button class="btn btn-primary" (click)="downloadPdf()">Download</button>
    <button
      *ngIf="showSaveButton"
      class="btn btn-success"
      [disabled]="isSaving"
      (click)="saveGeneratedCertificate()"
    >
      {{ isSaving ? 'Saving...' : 'Save Licence' }}
    </button>
  </div>

  <div *ngIf="loading" class="loading-state">Loading certificate...</div>
  <div *ngIf="!loading && errorMessage" class="error-state">{{ errorMessage }}</div>

  <app-licence-template
    *ngIf="!errorMessage"
    [wardName]="viewModel.wardName"
    [licenceNo]="viewModel.licenceNo"
    [applicationNo]="viewModel.applicationNo"
    [financialYear]="viewModel.financialYear"
    [applicantName]="viewModel.applicantName"
    [licenceDate]="viewModel.licenceDate"
    [tradeName]="viewModel.tradeName"
    [tradeAddress]="viewModel.tradeAddress"
    [sanctionedPower]="viewModel.sanctionedPower"
    [majorTrade]="viewModel.majorTrade"
    [minorTrade]="viewModel.minorTrade"
    [subTrade]="viewModel.subTrade"
    [validUpto]="viewModel.validUpto"
    [feesPaid]="viewModel.feesPaid"
    [paymentMode]="viewModel.paymentMode"
    [receiptNo]="viewModel.receiptNo"
    [paymentDate]="viewModel.paymentDate"
    [renewBefore]="viewModel.renewBefore"
    [qrCodeOrCertificateHash]="viewModel.qrCodeOrCertificateHash"
  ></app-licence-template>
</div>
