html {
  scroll-behavior: smooth;
}
.hero {
  background: linear-gradient(15deg, #084298, #084298);
}

.icon-box {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.brand-icon {
  width: 56px;
  height: 56px;
  background-color: #0d47a1; /* Govt blue */
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-text {
  line-height: 1.2;
}

.footer-icon {
  width: 36px;
  height: 36px;
  background-color: #0d47a1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-yellow {
  color: #ff9800;              /* Text */
  background-color: #ff9800;
  color: #ffffff;
}
.official-badge {
  margin-top: 60px;
  padding: 10px 22px;
  border-radius: 999px; /* pill shape */
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  font-weight: 500;
  backdrop-filter: blur(6px);
}

.official-badge i {
  font-size: 1rem;
  color: #ffffff;
}

/* ===== PAGE LOAD ANIMATION ===== */
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease-out forwards;
}

.fade-up-delay-1 {
  animation-delay: 0.2s;
}

.fade-up-delay-2 {
  animation-delay: 0.4s;
}

.fade-up-delay-3 {
  animation-delay: 0.6s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.scroll-reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.scroll-reveal.active {
  opacity: 1;
  transform: translateY(0);
}



